.sec1{
    background-color: rgb(52, 125, 180);
}
.head{
    test
}

.bold{
    font-size: large;
}
.head2{
    text-align: center;
}
.para2{
    text-align: center;
}
.see{
    color: rgb(32, 114, 162);
    text-align: center;
    font-size: large;

}
.sec4{
    background-color: rgb(52, 125, 180);
}
.sec5{
    background-color: black;
}
.visit{
    text-align: center;
    color: aliceblue;

}
.mon{
    text-align: center;
    color: aliceblue;

}
.sun{
    text-align: center;
    color: aliceblue;

}
.across{
    text-align: center;
    color: aliceblue;

}
.grand{
    text-align: center;
    color: aliceblue;

}
.book{
   text-align: center;
    
}
.line{
    height: 2px;
    width: 250px;
    background-color: white;
}
.sec6{
    background-color: whitesmoke;
    padding: 50px;

}
.heading{
    text-align: center;
  
}
.sec7{
    background-color: black;
}
.news{
    text-align: center;
    color: aliceblue;
    font-size:x-small;

}
.good{
    text-align: center;
    color: aliceblue;
    font-size:x-large;
    font-family: monospace;

}
.forbes{
    text-align: center;
    color: aliceblue;

}
.logo{
    text-align: center;
}
.copy{
    text-align: center;
    color: rgb(99, 101, 104);

}
.a{
    text-align: center;
   

}
